*~
rootfs/.dockerenv
rootfs/go
rootfs/anaconda-post.log
rootfs/bin
rootfs/dev
rootfs/etc
rootfs/home
rootfs/lib
rootfs/lib64
rootfs/lost+found
rootfs/media
rootfs/mnt
rootfs/opt
rootfs/proc
rootfs/root
rootfs/run
rootfs/sbin
rootfs/srv
rootfs/sys
rootfs/tmp
rootfs/usr
rootfs/var
